*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    font-size: 18px;
    background-color:  #fff;    
    background-image: url(https://krot.mobi/uploads/posts/2020-02/1580840958_24-p-foni-na-temu-okruzhayushchei-sredi-71.jpg);
    height: 800px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/*      ENCABEZADO 
=========================*/

.header{
    background-color:rgb(47, 64, 255);
   /* text-align: center;*/
   /* padding: 5px 0;*/
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.header-title{
    color: #fff;
   /* padding: 10px 0;
    text-transform: uppercase;
    position: static;*/
    font-size: 40px;
    line-height: 200px;
    float:left;
}

.header-description{
    color: #fff;
    padding: 35px 60px;
    line-height: 200px;
    float: left;
    
}
 
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
    
}

/*      RESPUESTA 
=========================*/

.menu{
    padding-right: 20px;
    float: right;
    line-height: 200px;
}

.menu ul a{
    font-size: 25px;
    font-weight:  bold;
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    
    
}

.menu ul a:hover{
    background:#4c5580;
    border-radius: 50px;
}

/*      CONTENEDOR DE FIGURAS
======================================*/

.figures{
    width: 90%0;
    margin: auto;
    padding:  10px;
    overflow: hidden;
    max-width: 1000px;
}

/*      CASILLAS O CAJAS
====================================================*/  




.box{
    width: 30%;
    height: 600px;
    border: 3px solid rgb(64, 255, 47);
    border-radius: 10px;
    margin: 15px;
    float: left;
}

/*      ENCABEZADO I MAIN DE LA CAJA
====================================================*/

.box-header{
    background-color: rgb(64, 255, 47);
    text-align:  center;
    padding: 15px 0;
    color: #fff;

}

.h2{
    text-align: center;
    font-size: 15px;
}
.box-main{
    text-align: center;
    padding: 10px;
}

.box-main__text{
    font-size: 20px;
    font-weight: bold;
}

.box-main__input{
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #253062;
    border: solid #253062;
    border-radius: 5px;
}

.box-main__btn{
    background-color: #253062;
    color: #fff;
    width: 120px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border-style: none;
    border-radius:10px;

}

.box-main__btn:hover{
    background-color: #4c5580;
    cursor: pointer;

}

.box-main__btn:active{
    background-color: #4c5580;
}

/*   RESPONSIVO  */  

@media screen and (max-width:1021px){
    .figures{
        width: 100%;
    }
    
} 

@media screen and (max-width:800px){
    .box{
        margin: 10px;
    }
}
 
@media screen and (max-width:640px){
    .box{
        width: 90%;
        margin: 25px;
        height: auto;
    }
}

@media screen and (max-width:360px){
    .box{
        width: 90%;
        margin: 20px;
        height: auto;
    }

    .box-main__text{
        font-size: 15px;
    }

    .header-title{
        font-size: 30px;
    }
}
